In [2]:
import os
import csv
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

#import methods for abstracting classes into tables
from sqlalchemy.ext.declarative import declarative_base
#import methods for declaring column types
from sqlalchemy import Column, Integer, String, Float, Numeric

engine = create_engine('sqlite:///drunks.sqlite', echo="debug")
conn = engine.connect()
Base = declarative_base()
# Base = automap_base()

2020-09-18 19:21:49,154 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-09-18 19:21:49,155 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:21:49,156 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-09-18 19:21:49,157 INFO sqlalchemy.engine.base.Engine ()

In [3]:
consumption = "csvData.csv"
consumption_df = pd.read_csv(consumption)
consumption_df.rename(columns={'State': 'state', 'alcoholConsumptionGallons': 'volume'}, inplace=True)
consumption_df

             state  volume
0    New Hampshire    4.76
1         Delaware    3.72
2           Nevada    3.46
3     North Dakota    3.26
4          Montana    3.11
5          Vermont    3.08
6        Wisconsin    2.98
7           Alaska    2.94
8            Idaho    2.92
9     South Dakota    2.87
10           Maine    2.81
11        Colorado    2.81
12       Minnesota    2.77
13          Oregon    2.75
14         Wyoming    2.67
15         Florida    2.65
16          Hawaii    2.63
17       Louisiana    2.59
18    Rhode Island    2.57
19   Massachusetts    2.57
20        Missouri    2.49
21     Connecticut    2.45
22            Iowa    2.40
23    Pennsylvania    2.36
24           Texas    2.34
25      New Jersey    2.34
26        Michigan    2.34
27      California    2.33
28        Illinois    2.32
29         Arizona    2.31
30      New Mexico    2.27
31      Washington    2.26
32        Nebraska    2.23
33     Mississippi    2.23
34  South Carolina    2.22
35        New York    2.22
36         Indiana    2.17
37        Maryland    2.15
38        Virginia    2.14
39       Tennessee    2.14
40  North Carolina    2.13
41            Ohio    2.04
42         Alabama    2.01
43        Kentucky    1.98
44         Georgia    1.94
45          Kansas    1.92
46        Oklahoma    1.88
47        Arkansas    1.80
48   West Virginia    1.76
49            Utah    1.34

In [4]:
impaired = "Impaired_Driving_Death_Rate__by_Age_and_Gender__2012___2014__All_States.csv"
impaired_df = pd.read_csv(impaired)
impaired_df

,State,Location,"All Ages, 2012","All Ages, 2014","Ages 0-20, 2012","Ages 0-20, 2014","Ages 21-34, 2012","Ages 21-34, 2014","Ages 35+, 2012","Ages 35+, 2014","Male, 2012","Male, 2014","Female, 2012","Female, 2014"
0,Connecticut,"Connecticut\n(41.562661, -72.64984)",2.4,2.7,NaN,NaN,5.9,6.1,2.1,2.5,3.7,4.6,1.1,NaN
1,Kentucky,"Kentucky\n(37.645973, -84.774968)",4.0,3.9,1.8,2.0,7.2,7.8,3.7,3.4,6.5,6.5,1.5,1.3
2,South Dakota,"South Dakota\n(44.35313, -100.373529)",5.7,5.6,NaN,NaN,NaN,NaN,NaN,6.2,7.4,8.7,NaN,NaN
3,Oklahoma,"Oklahoma\n(35.472031, -97.521068)",5.6,4.0,NaN,NaN,10.5,7.4,5.8,3.9,9.3,6.0,1.9,2.1
4,West Virginia,"West, Virginia\n(38.665511, -80.712638)",5.6,4.7,NaN,NaN,12.9,10.0,4.4,4.0,9.3,7.1,NaN,NaN
5,Virginia,"Virginia\n(37.542681, -78.457889)",2.5,2.5,1.2,1.2,4.5,5.1,2.6,2.3,4.1,3.9,0.9,1.2
6,Iowa,"Iowa\n(42.469401, -93.816487)",3.2,3.0,NaN,NaN,5.9,4.6,2.9,3.4,5.1,4.8,NaN,NaN
7,Louisiana,"Louisiana\n(31.312663, -92.445678)",5.2,5.4,2.8,1.8,8.6,9.4,5.1,5.7,8.3,9.1,2.4,1.9
8,Tennessee,"Tennessee\n(35.680941, -85.774487)",4.6,4.1,1.6,NaN,8.0,8.2,4.9,4.1,7.5,6.8,1.8,1.5
9,Missouri,"Missouri\n(38.635791, -92.566299)",4.8,3.4,1.9,NaN,9.5,6.9,4.4,3.2,7.8,5.6,1.8,1.3
10,Georgia,"Georgia\n(32.839683, -83.627579)",3.0,2.7,1.0,0.8,5.8,5.2,3.1,2.9,4.9,4.7,1.2,0.9
11,Texas,"Texas\n(31.82724, -99.426768)",4.9,5.4,2.1,2.3,10.0,10.0,4.7,5.3,7.6,8.1,2.4,2.7
12,Maine,"Maine\n(45.254229, -68.985026)",3.8,3.3,NaN,NaN,NaN,NaN,2.8,3.1,6.6,5.1,NaN,NaN
13,Mississippi,"Mississippi\n(32.745513, -89.538027)",6.1,6.0,2.6,2.8,12.0,10.8,5.7,5.8,9.8,9.4,2.7,2.8
14,Colorado,"Colorado\n(38.843843, -106.133609)",2.5,3.0,NaN,1.7,5.6,5.6,2.0,2.6,3.9,4.6,1.1,1.3
15,Alabama,"Alabama\n(32.840572, -86.631857)",5.5,5.5,2.7,2.1,10.3,10.0,5.0,5.5,8.4,8.6,2.9,2.6
16,Maryland,"Maryland\n(39.290583, -76.60926)",2.7,2.2,1.6,NaN,5.8,5.4,2.2,1.8,4.1,3.5,1.4,0.9
17,California,"California\n(37.638642, -120.999996)",2.0,2.2,0.9,1.0,4.5,4.6,1.8,2.0,3.2,3.4,1.0,1.1
18,Idaho,"Idaho\n(43.682632, -114.363727)",3.6,3.3,NaN,NaN,8.7,NaN,2.7,3.0,5.8,4.8,NaN,NaN
19,Vermont,"Vermont\n(43.625384, -72.517637)",3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,District of Columbia,"District of Columbia\n(38.890373, -77.031957)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,North Dakota,"North Dakota\n(47.475319, -100.118428)",11.3,7.2,NaN,NaN,15.3,15.2,12.0,6.1,17.4,10.7,NaN,NaN
22,Wisconsin,"Wisconsin\n(44.393191, -89.816366)",3.6,2.9,1.6,NaN,6.5,7.5,3.5,2.3,5.6,4.8,1.6,1.2
23,Oregon,"Oregon\n(44.56745, -120.155029)",2.2,2.5,NaN,NaN,5.2,4.2,1.8,2.6,3.1,3.7,1.3,1.4
24,Hawaii,"Hawaii\n(21.304852, -157.857748)",3.8,2.2,NaN,NaN,NaN,NaN,3.2,NaN,5.7,3.6,NaN,NaN
25,Pennsylvania,"Pennsylvania\n(40.793734, -77.860697)",3.3,2.7,1.4,0.7,7.2,5.5,2.8,2.7,5.4,4.4,1.3,1.1
26,Arizona,"Arizona\n(34.865974, -111.763807)",3.6,3.0,1.6,NaN,6.9,5.5,3.3,3.1,5.4,4.5,1.7,1.5
27,Washington,"Washington\n(47.522288, -120.470028)",2.1,1.9,NaN,NaN,4.0,3.4,2.0,1.9,3.6,2.9,0.7,0.9
28,United States,"United States\n(39.759996, -98.499999)",3.3,3.1,1.3,1.2,6.7,6.2,3.1,3.0,5.2,4.9,1.5,1.4
29,Alaska,"Alaska\n(64.845078, -147.72206)",NaN,2.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,New York,"New York\n(42.827004, -75.543966)",1.7,1.6,0.6,0.7,3.3,3.0,1.7,1.5,2.7,2.4,0.8,0.8
31,Illinois,"Illinois\n(40.485012, -88.997709)",2.5,2.4,0.7,0.7,6.0,5.5,2.1,2.2,4.0,3.7,1.0,1.3
32,South Carolina,"South Carolina\n(33.998822, -81.045366)",7.6,5.8,2.8,2.0,14.2,12.4,7.6,5.3,12.3,9.0,3.2,2.9
33,Indiana,"Indiana\n(39.766913, -86.149956)",3.6,3.2,1.2,NaN,7.2,6.3,3.5,3.2,6.0,5.1,1.3,1.3
34,Utah,"Utah\n(39.360701, -111.587128)",1.2,2.0,NaN,NaN,NaN,NaN,1.9,2.3,1.7,3.0,NaN,NaN
35,Nebraska,"Nebraska\n(41.641044, -99.365719)",4.0,3.3,NaN,NaN,6.5,7.0,3.5,3.0,6.4,5.0,NaN,NaN
36,Massachusetts,"Massachusetts\n(42.276874, -72.082687)",1.8,1.9,NaN,NaN,3.3,4.0,1.7,1.8,2.7,3.1,0.9,0.9
37,Montana,"Montana\n(47.066528, -109.424416)",9.4,7.3,NaN,NaN,21.4,15.4,7.2,6.9,14.9,10.2,4.0,4.3
38,New Mexico,"New Mexico\n(34.520881, -106.240578)",4.8,5.7,NaN,NaN,9.1,11.2,4.5,5.1,6.9,8.6,2.9,2.8
39,New Jersey,"New Jersey\n(40.130571, -74.273688)",1.8,1.8,NaN,NaN,4.6,3.6,1.4,1.7,2.9,2.9,0.9,0.8
40,Wyoming,"Wyoming\n(43.235541, -108.109827)",7.1,8.2,NaN,NaN,17.3,NaN,NaN,8.1,11.3,13.1,NaN,NaN
41,North Carolina,"North Carolina\n(35.46622, -79.15925)",4.2,3.8,1.7,1.4,8.0,7.7,4.0,3.6,6.8,6.3,1.7,1.5
42,Ohio,"Ohio\n(40.060212, -82.404257)",3.5,2.7,1.2,0.8,6.8,5.6,3.3,2.6,5.5,4.2,1.6,1.3
43,Delaware,"Delaware\n(39.008834, -75.577736)",3.8,5.2,NaN,NaN,NaN,11.7,4.0,4.6,6.6,7.4,NaN,NaN
44,Kansas,"Kansas\n(38.347743, -98.200778)",3.4,3.6,2.3,NaN,6.0,7.4,3.0,3.3,6.0,5.8,NaN,1.4
45,Florida,"Florida\n(28.932043, -81.928958)",3.7,3.5,1.2,1.2,8.0,7.4,3.3,3.1,5.7,5.4,1.7,1.7
46,New Hampshire,"New Hampshire\n(43.655953, -71.500357)",2.4,2.4,NaN,NaN,NaN,NaN,2.9,NaN,4.1,3.2,NaN,NaN
47,Minnesota,"Minnesota\n(46.355649, -94.7942)",2.1,1.9,NaN,NaN,3.7,3.5,2.2,2.1,3.2,3.0,1.2,0.9
48,Arkansas,"Arkansas\n(34.74865, -92.27449)",5.1,4.6,NaN,NaN,10.5,6.3,4.3,5.4,8.1,7.2,2.2,2.2
49,Michigan,"Michigan\n(44.661322, -84.714386)",2.7,2.2,1.1,1.0,6.8,5.1,2.0,1.8,4.3,3.3,1.2,1.1
50,Rhode Island,"Rhode Island\n(41.708281, -71.522466)",2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Nevada,"Nevada\n(39.493242, -117.071839)",2.8,3.3,NaN,NaN,4.6,6.4,3.2,2.7,4.2,4.9,1.4,1.7

In [6]:
# impaired_df.dtypes

State                object
Location             object
All Ages, 2012      float64
All Ages, 2014      float64
Ages 0-20, 2012     float64
Ages 0-20, 2014     float64
Ages 21-34, 2012    float64
Ages 21-34, 2014    float64
Ages 35+, 2012      float64
Ages 35+, 2014      float64
Male, 2012          float64
Male, 2014          float64
Female, 2012        float64
Female, 2014        float64
dtype: object

In [7]:
# impaired_df.columns

Index(['State ', 'Location', 'All Ages, 2012', 'All Ages, 2014',
       'Ages 0-20, 2012', 'Ages 0-20, 2014', 'Ages 21-34, 2012',
       'Ages 21-34, 2014', 'Ages 35+, 2012', 'Ages 35+, 2014', 'Male, 2012',
       'Male, 2014', 'Female, 2012', 'Female, 2014'],
      dtype='object')

In [8]:
#impaired_clean = impaired_df.drop(['Location', 'All Ages, 2014', 'Ages 0-20, 2012', 'Ages 0-20, 2014 '])
impaired_clean = impaired_df.drop(columns=['Location',
                                           'All Ages, 2014', 
                                           'Ages 0-20, 2012', 
                                           'Ages 0-20, 2014', 
                                           'Ages 21-34, 2012',
                                           'Ages 21-34, 2014', 
                                           'Ages 35+, 2012', 
                                           'Ages 35+, 2014', 
                                           'Male, 2012', 
                                           'Male, 2014', 
                                           'Female, 2012', 
                                           'Female, 2014'])
impaired_clean.rename(columns={'State ': 'state', 'All Ages, 2012': 'rate'}, inplace=True)
impaired_clean

                   state  rate
0            Connecticut   2.4
1               Kentucky   4.0
2           South Dakota   5.7
3               Oklahoma   5.6
4          West Virginia   5.6
5               Virginia   2.5
6                   Iowa   3.2
7              Louisiana   5.2
8              Tennessee   4.6
9               Missouri   4.8
10               Georgia   3.0
11                 Texas   4.9
12                 Maine   3.8
13           Mississippi   6.1
14              Colorado   2.5
15               Alabama   5.5
16              Maryland   2.7
17            California   2.0
18                 Idaho   3.6
19               Vermont   3.4
20  District of Columbia   NaN
21          North Dakota  11.3
22             Wisconsin   3.6
23                Oregon   2.2
24                Hawaii   3.8
25          Pennsylvania   3.3
26               Arizona   3.6
27            Washington   2.1
28         United States   3.3
29                Alaska   NaN
30              New York   1.7
31              Illinois   2.5
32        South Carolina   7.6
33               Indiana   3.6
34                  Utah   1.2
35              Nebraska   4.0
36         Massachusetts   1.8
37               Montana   9.4
38            New Mexico   4.8
39            New Jersey   1.8
40               Wyoming   7.1
41        North Carolina   4.2
42                  Ohio   3.5
43              Delaware   3.8
44                Kansas   3.4
45               Florida   3.7
46         New Hampshire   2.4
47             Minnesota   2.1
48              Arkansas   5.1
49              Michigan   2.7
50          Rhode Island   2.3
51                Nevada   2.8

In [9]:
# Creates Classes which will serve as the anchor points for our Tables
class Impaired(Base):
    __tablename__ = 'impaired'
    id = Column(Integer, primary_key=True)
    state = Column(String(255))
    rate = Column(Numeric)
class Consumption(Base):
    __tablename__ = 'consumption'
    id = Column(Integer, primary_key=True)
    state = Column(String(255))
    volume = Column(Numeric)
Base.metadata.create_all(engine)

2020-09-18 19:22:04,960 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("impaired")
2020-09-18 19:22:04,961 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:22:04,962 DEBUG sqlalchemy.engine.base.Engine Col ('cid', 'name', 'type', 'notnull', 'dflt_value', 'pk')
2020-09-18 19:22:04,962 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("impaired")
2020-09-18 19:22:04,963 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:22:04,964 DEBUG sqlalchemy.engine.base.Engine Col ('cid', 'name', 'type', 'notnull', 'dflt_value', 'pk')
2020-09-18 19:22:04,965 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("consumption")
2020-09-18 19:22:04,965 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:22:04,966 DEBUG sqlalchemy.engine.base.Engine Col ('cid', 'name', 'type', 'notnull', 'dflt_value', 'pk')
2020-09-18 19:22:04,967 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("consumption")
2020-09-18 19:22:04,968 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:22:04,968 DEBUG sqlalchemy.engine.base.Engine Col ('cid', 'name', 'type', 'notnull', 'dflt_value', 'pk')
2020-09-18 19:22:04,969 INFO sqlalchemy.engine.base.Engine
CREATE TABLE impaired (
	id INTEGER NOT NULL,
	state VARCHAR(255),
	rate NUMERIC,
	PRIMARY KEY (id)
)


2020-09-18 19:22:04,970 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:22:04,971 INFO sqlalchemy.engine.base.Engine COMMIT
2020-09-18 19:22:04,972 INFO sqlalchemy.engine.base.Engine
CREATE TABLE consumption (
	id INTEGER NOT NULL,
	state VARCHAR(255),
	volume NUMERIC,
	PRIMARY KEY (id)
)


2020-09-18 19:22:04,973 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:22:04,976 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:

# Add Records to the Appropriate DB
# ----------------------------------
# Create a Session Object to Connect to DB
session = Session(engine)
# loop through impaired_clean and consumption_df data frames to fill database
for index, row in impaired_clean.iterrows():
    impaired = Impaired(state =row[0], rate=row[1])
    session.add(impaired)
    
for index, row in consumption_df.iterrows():
    consumption = Consumption(state=row[0], volume=row[1])
    session.add(consumption)
    
session.commit()

2020-09-18 19:25:07,213 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-18 19:25:07,215 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,216 INFO sqlalchemy.engine.base.Engine ('Connecticut', 2.4)
2020-09-18 19:25:07,218 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,219 INFO sqlalchemy.engine.base.Engine ('Kentucky', 4.0)
2020-09-18 19:25:07,220 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,221 INFO sqlalchemy.engine.base.Engine ('South Dakota', 5.7)
2020-09-18 19:25:07,223 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,223 INFO sqlalchemy.engine.base.Engine ('Oklahoma', 5.6)
2020-09-18 19:25:07,225 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,226 INFO sqlalchemy.engine.base.Engine ('West Virginia', 5.6)
2020-09-18 19:25:07,227 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,229 INFO sqlalchemy.engine.base.Engine ('Virginia', 2.5)
2020-09-18 19:25:07,230 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,231 INFO sqlalchemy.engine.base.Engine ('Iowa', 3.2)
2020-09-18 19:25:07,233 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,235 INFO sqlalchemy.engine.base.Engine ('Louisiana', 5.2)
2020-09-18 19:25:07,236 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,237 INFO sqlalchemy.engine.base.Engine ('Tennessee', 4.6)
2020-09-18 19:25:07,239 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,240 INFO sqlalchemy.engine.base.Engine ('Missouri', 4.8)
2020-09-18 19:25:07,241 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,243 INFO sqlalchemy.engine.base.Engine ('Georgia', 3.0)
2020-09-18 19:25:07,244 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,245 INFO sqlalchemy.engine.base.Engine ('Texas', 4.9)
2020-09-18 19:25:07,246 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,247 INFO sqlalchemy.engine.base.Engine ('Maine', 3.8)
2020-09-18 19:25:07,248 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,249 INFO sqlalchemy.engine.base.Engine ('Mississippi', 6.1)
2020-09-18 19:25:07,251 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,252 INFO sqlalchemy.engine.base.Engine ('Colorado', 2.5)
2020-09-18 19:25:07,253 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,254 INFO sqlalchemy.engine.base.Engine ('Alabama', 5.5)
2020-09-18 19:25:07,254 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,255 INFO sqlalchemy.engine.base.Engine ('Maryland', 2.7)
2020-09-18 19:25:07,256 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,259 INFO sqlalchemy.engine.base.Engine ('California', 2.0)
2020-09-18 19:25:07,261 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,262 INFO sqlalchemy.engine.base.Engine ('Idaho', 3.6)
2020-09-18 19:25:07,263 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,264 INFO sqlalchemy.engine.base.Engine ('Vermont', 3.4)
2020-09-18 19:25:07,265 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,266 INFO sqlalchemy.engine.base.Engine ('District of Columbia', nan)
2020-09-18 19:25:07,268 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,269 INFO sqlalchemy.engine.base.Engine ('North Dakota', 11.3)
2020-09-18 19:25:07,270 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,271 INFO sqlalchemy.engine.base.Engine ('Wisconsin', 3.6)
2020-09-18 19:25:07,272 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,273 INFO sqlalchemy.engine.base.Engine ('Oregon', 2.2)
2020-09-18 19:25:07,274 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,275 INFO sqlalchemy.engine.base.Engine ('Hawaii', 3.8)
2020-09-18 19:25:07,276 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,277 INFO sqlalchemy.engine.base.Engine ('Pennsylvania', 3.3)
2020-09-18 19:25:07,278 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,280 INFO sqlalchemy.engine.base.Engine ('Arizona', 3.6)
2020-09-18 19:25:07,281 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,282 INFO sqlalchemy.engine.base.Engine ('Washington', 2.1)
2020-09-18 19:25:07,283 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,284 INFO sqlalchemy.engine.base.Engine ('United States', 3.3)
2020-09-18 19:25:07,285 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,286 INFO sqlalchemy.engine.base.Engine ('Alaska', nan)
2020-09-18 19:25:07,287 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,291 INFO sqlalchemy.engine.base.Engine ('New York', 1.7)
2020-09-18 19:25:07,296 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,296 INFO sqlalchemy.engine.base.Engine ('Illinois', 2.5)
2020-09-18 19:25:07,297 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,298 INFO sqlalchemy.engine.base.Engine ('South Carolina', 7.6)
2020-09-18 19:25:07,299 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,300 INFO sqlalchemy.engine.base.Engine ('Indiana', 3.6)
2020-09-18 19:25:07,302 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,303 INFO sqlalchemy.engine.base.Engine ('Utah', 1.2)
2020-09-18 19:25:07,304 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,305 INFO sqlalchemy.engine.base.Engine ('Nebraska', 4.0)
2020-09-18 19:25:07,307 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,308 INFO sqlalchemy.engine.base.Engine ('Massachusetts', 1.8)
2020-09-18 19:25:07,309 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,310 INFO sqlalchemy.engine.base.Engine ('Montana', 9.4)
2020-09-18 19:25:07,310 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,311 INFO sqlalchemy.engine.base.Engine ('New Mexico', 4.8)
2020-09-18 19:25:07,312 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,312 INFO sqlalchemy.engine.base.Engine ('New Jersey', 1.8)
2020-09-18 19:25:07,313 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,314 INFO sqlalchemy.engine.base.Engine ('Wyoming', 7.1)
2020-09-18 19:25:07,314 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,315 INFO sqlalchemy.engine.base.Engine ('North Carolina', 4.2)
2020-09-18 19:25:07,316 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,318 INFO sqlalchemy.engine.base.Engine ('Ohio', 3.5)
2020-09-18 19:25:07,321 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,322 INFO sqlalchemy.engine.base.Engine ('Delaware', 3.8)

2020-09-18 19:25:07,323 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,324 INFO sqlalchemy.engine.base.Engine ('Kansas', 3.4)
2020-09-18 19:25:07,325 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,326 INFO sqlalchemy.engine.base.Engine ('Florida', 3.7)
2020-09-18 19:25:07,328 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,330 INFO sqlalchemy.engine.base.Engine ('New Hampshire', 2.4)
2020-09-18 19:25:07,334 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,335 INFO sqlalchemy.engine.base.Engine ('Minnesota', 2.1)
2020-09-18 19:25:07,337 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,337 INFO sqlalchemy.engine.base.Engine ('Arkansas', 5.1)
2020-09-18 19:25:07,338 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,339 INFO sqlalchemy.engine.base.Engine ('Michigan', 2.7)
2020-09-18 19:25:07,341 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,341 INFO sqlalchemy.engine.base.Engine ('Rhode Island', 2.3)
2020-09-18 19:25:07,342 INFO sqlalchemy.engine.base.Engine INSERT INTO impaired (state, rate) VALUES (?, ?)
2020-09-18 19:25:07,343 INFO sqlalchemy.engine.base.Engine ('Nevada', 2.8)
2020-09-18 19:25:07,345 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,346 INFO sqlalchemy.engine.base.Engine ('New Hampshire', 4.76)
2020-09-18 19:25:07,347 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,348 INFO sqlalchemy.engine.base.Engine ('Delaware', 3.72)
2020-09-18 19:25:07,348 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,349 INFO sqlalchemy.engine.base.Engine ('Nevada', 3.46)
2020-09-18 19:25:07,351 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,351 INFO sqlalchemy.engine.base.Engine ('North Dakota', 3.26)
2020-09-18 19:25:07,353 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,355 INFO sqlalchemy.engine.base.Engine ('Montana', 3.11)
2020-09-18 19:25:07,356 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,357 INFO sqlalchemy.engine.base.Engine ('Vermont', 3.08)
2020-09-18 19:25:07,358 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,359 INFO sqlalchemy.engine.base.Engine ('Wisconsin', 2.98)
2020-09-18 19:25:07,363 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,364 INFO sqlalchemy.engine.base.Engine ('Alaska', 2.94)
2020-09-18 19:25:07,366 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,366 INFO sqlalchemy.engine.base.Engine ('Idaho', 2.92)
2020-09-18 19:25:07,367 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,368 INFO sqlalchemy.engine.base.Engine ('South Dakota', 2.87)
2020-09-18 19:25:07,370 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,371 INFO sqlalchemy.engine.base.Engine ('Maine', 2.81)
2020-09-18 19:25:07,373 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,374 INFO sqlalchemy.engine.base.Engine ('Colorado', 2.81)
2020-09-18 19:25:07,376 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,377 INFO sqlalchemy.engine.base.Engine ('Minnesota', 2.77)
2020-09-18 19:25:07,378 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,378 INFO sqlalchemy.engine.base.Engine ('Oregon', 2.75)
2020-09-18 19:25:07,380 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,380 INFO sqlalchemy.engine.base.Engine ('Wyoming', 2.67)
2020-09-18 19:25:07,382 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,383 INFO sqlalchemy.engine.base.Engine ('Florida', 2.65)
2020-09-18 19:25:07,385 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,386 INFO sqlalchemy.engine.base.Engine ('Hawaii', 2.63)
2020-09-18 19:25:07,387 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,388 INFO sqlalchemy.engine.base.Engine ('Louisiana', 2.59)
2020-09-18 19:25:07,389 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,390 INFO sqlalchemy.engine.base.Engine ('Rhode Island', 2.57)
2020-09-18 19:25:07,392 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,393 INFO sqlalchemy.engine.base.Engine ('Massachusetts', 2.57)
2020-09-18 19:25:07,394 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,395 INFO sqlalchemy.engine.base.Engine ('Missouri', 2.49)
2020-09-18 19:25:07,396 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,397 INFO sqlalchemy.engine.base.Engine ('Connecticut', 2.45)
2020-09-18 19:25:07,398 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,399 INFO sqlalchemy.engine.base.Engine ('Iowa', 2.4)
2020-09-18 19:25:07,400 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,401 INFO sqlalchemy.engine.base.Engine ('Pennsylvania', 2.36)
2020-09-18 19:25:07,403 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,403 INFO sqlalchemy.engine.base.Engine ('Texas', 2.34)
2020-09-18 19:25:07,405 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,406 INFO sqlalchemy.engine.base.Engine ('New Jersey', 2.34)
2020-09-18 19:25:07,407 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,408 INFO sqlalchemy.engine.base.Engine ('Michigan', 2.34)
2020-09-18 19:25:07,409 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,410 INFO sqlalchemy.engine.base.Engine ('California', 2.33)
2020-09-18 19:25:07,411 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,412 INFO sqlalchemy.engine.base.Engine ('Illinois', 2.32)
2020-09-18 19:25:07,413 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,414 INFO sqlalchemy.engine.base.Engine ('Arizona', 2.31)
2020-09-18 19:25:07,416 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,417 INFO sqlalchemy.engine.base.Engine ('New Mexico', 2.27)
2020-09-18 19:25:07,418 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,419 INFO sqlalchemy.engine.base.Engine ('Washington', 2.26)
2020-09-18 19:25:07,421 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,423 INFO sqlalchemy.engine.base.Engine ('Nebraska', 2.23)
2020-09-18 19:25:07,425 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,426 INFO sqlalchemy.engine.base.Engine ('Mississippi', 2.23)
2020-09-18 19:25:07,427 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,428 INFO sqlalchemy.engine.base.Engine ('South Carolina', 2.22)
2020-09-18 19:25:07,430 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)

2020-09-18 19:25:07,431 INFO sqlalchemy.engine.base.Engine ('New York', 2.22)
2020-09-18 19:25:07,432 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,433 INFO sqlalchemy.engine.base.Engine ('Indiana', 2.17)
2020-09-18 19:25:07,434 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,435 INFO sqlalchemy.engine.base.Engine ('Maryland', 2.15)
2020-09-18 19:25:07,436 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,436 INFO sqlalchemy.engine.base.Engine ('Virginia', 2.14)
2020-09-18 19:25:07,437 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,438 INFO sqlalchemy.engine.base.Engine ('Tennessee', 2.14)
2020-09-18 19:25:07,439 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,440 INFO sqlalchemy.engine.base.Engine ('North Carolina', 2.13)
2020-09-18 19:25:07,442 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,444 INFO sqlalchemy.engine.base.Engine ('Ohio', 2.04)
2020-09-18 19:25:07,445 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,446 INFO sqlalchemy.engine.base.Engine ('Alabama', 2.01)
2020-09-18 19:25:07,447 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,448 INFO sqlalchemy.engine.base.Engine ('Kentucky', 1.98)
2020-09-18 19:25:07,450 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,452 INFO sqlalchemy.engine.base.Engine ('Georgia', 1.94)
2020-09-18 19:25:07,453 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,453 INFO sqlalchemy.engine.base.Engine ('Kansas', 1.92)
2020-09-18 19:25:07,455 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,455 INFO sqlalchemy.engine.base.Engine ('Oklahoma', 1.88)
2020-09-18 19:25:07,456 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,457 INFO sqlalchemy.engine.base.Engine ('Arkansas', 1.8)
2020-09-18 19:25:07,458 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,459 INFO sqlalchemy.engine.base.Engine ('West Virginia', 1.76)
2020-09-18 19:25:07,461 INFO sqlalchemy.engine.base.Engine INSERT INTO consumption (state, volume) VALUES (?, ?)
2020-09-18 19:25:07,462 INFO sqlalchemy.engine.base.Engine ('Utah', 1.34)
2020-09-18 19:25:07,467 INFO sqlalchemy.engine.base.Engine COMMIT

In [ ]:
# Use this to clear out the db
# Base.metadata.drop_all(engine)

In [ ]:
# consumption_df.to_sql("consumption",con=conn)

In [ ]:
# impaired_clean.to_sql("impaired", con=conn)

In [ ]:
# session.close()

In [15]:
# Query the Tables
# ----------------------------------
# Perform a simple query of the database
impaired_list = session.query(Impaired)
for i in impaired_list:
    print(i.rate)
consumption_list = session.query(Consumption)
for c in consumption_list:
    print(c.volume)

2020-09-18 19:25:59,163 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-09-18 19:25:59,165 INFO sqlalchemy.engine.base.Engine SELECT impaired.id AS impaired_id, impaired.state AS impaired_state, impaired.rate AS impaired_rate
FROM impaired
2020-09-18 19:25:59,166 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:25:59,169 DEBUG sqlalchemy.engine.base.Engine Col ('impaired_id', 'impaired_state', 'impaired_rate')
2020-09-18 19:25:59,171 DEBUG sqlalchemy.engine.base.Engine Row (1, 'Connecticut', 2.4)
2020-09-18 19:25:59,172 DEBUG sqlalchemy.engine.base.Engine Row (2, 'Kentucky', 4)
2020-09-18 19:25:59,172 DEBUG sqlalchemy.engine.base.Engine Row (3, 'South Dakota', 5.7)
2020-09-18 19:25:59,173 DEBUG sqlalchemy.engine.base.Engine Row (4, 'Oklahoma', 5.6)
2020-09-18 19:25:59,174 DEBUG sqlalchemy.engine.base.Engine Row (5, 'West Virginia', 5.6)
2020-09-18 19:25:59,175 DEBUG sqlalchemy.engine.base.Engine Row (6, 'Virginia', 2.5)
2020-09-18 19:25:59,175 DEBUG sqlalchemy.engine.base.Engine Row (7, 'Iowa', 3.2)
2020-09-18 19:25:59,176 DEBUG sqlalchemy.engine.base.Engine Row (8, 'Louisiana', 5.2)
2020-09-18 19:25:59,177 DEBUG sqlalchemy.engine.base.Engine Row (9, 'Tennessee', 4.6)
2020-09-18 19:25:59,177 DEBUG sqlalchemy.engine.base.Engine Row (10, 'Missouri', 4.8)
2020-09-18 19:25:59,178 DEBUG sqlalchemy.engine.base.Engine Row (11, 'Georgia', 3)
2020-09-18 19:25:59,179 DEBUG sqlalchemy.engine.base.Engine Row (12, 'Texas', 4.9)
2020-09-18 19:25:59,180 DEBUG sqlalchemy.engine.base.Engine Row (13, 'Maine', 3.8)
2020-09-18 19:25:59,180 DEBUG sqlalchemy.engine.base.Engine Row (14, 'Mississippi', 6.1)
2020-09-18 19:25:59,181 DEBUG sqlalchemy.engine.base.Engine Row (15, 'Colorado', 2.5)
2020-09-18 19:25:59,181 DEBUG sqlalchemy.engine.base.Engine Row (16, 'Alabama', 5.5)
2020-09-18 19:25:59,182 DEBUG sqlalchemy.engine.base.Engine Row (17, 'Maryland', 2.7)
2020-09-18 19:25:59,183 DEBUG sqlalchemy.engine.base.Engine Row (18, 'California', 2)
2020-09-18 19:25:59,183 DEBUG sqlalchemy.engine.base.Engine Row (19, 'Idaho', 3.6)
2020-09-18 19:25:59,183 DEBUG sqlalchemy.engine.base.Engine Row (20, 'Vermont', 3.4)
2020-09-18 19:25:59,184 DEBUG sqlalchemy.engine.base.Engine Row (21, 'District of Columbia', None)
2020-09-18 19:25:59,185 DEBUG sqlalchemy.engine.base.Engine Row (22, 'North Dakota', 11.3)
2020-09-18 19:25:59,186 DEBUG sqlalchemy.engine.base.Engine Row (23, 'Wisconsin', 3.6)
2020-09-18 19:25:59,186 DEBUG sqlalchemy.engine.base.Engine Row (24, 'Oregon', 2.2)
2020-09-18 19:25:59,187 DEBUG sqlalchemy.engine.base.Engine Row (25, 'Hawaii', 3.8)
2020-09-18 19:25:59,188 DEBUG sqlalchemy.engine.base.Engine Row (26, 'Pennsylvania', 3.3)
2020-09-18 19:25:59,189 DEBUG sqlalchemy.engine.base.Engine Row (27, 'Arizona', 3.6)
2020-09-18 19:25:59,189 DEBUG sqlalchemy.engine.base.Engine Row (28, 'Washington', 2.1)
2020-09-18 19:25:59,190 DEBUG sqlalchemy.engine.base.Engine Row (29, 'United States', 3.3)
2020-09-18 19:25:59,191 DEBUG sqlalchemy.engine.base.Engine Row (30, 'Alaska', None)
2020-09-18 19:25:59,192 DEBUG sqlalchemy.engine.base.Engine Row (31, 'New York', 1.7)
2020-09-18 19:25:59,193 DEBUG sqlalchemy.engine.base.Engine Row (32, 'Illinois', 2.5)
2020-09-18 19:25:59,194 DEBUG sqlalchemy.engine.base.Engine Row (33, 'South Carolina', 7.6)
2020-09-18 19:25:59,195 DEBUG sqlalchemy.engine.base.Engine Row (34, 'Indiana', 3.6)
2020-09-18 19:25:59,195 DEBUG sqlalchemy.engine.base.Engine Row (35, 'Utah', 1.2)
2020-09-18 19:25:59,196 DEBUG sqlalchemy.engine.base.Engine Row (36, 'Nebraska', 4)
2020-09-18 19:25:59,197 DEBUG sqlalchemy.engine.base.Engine Row (37, 'Massachusetts', 1.8)
2020-09-18 19:25:59,197 DEBUG sqlalchemy.engine.base.Engine Row (38, 'Montana', 9.4)
2020-09-18 19:25:59,198 DEBUG sqlalchemy.engine.base.Engine Row (39, 'New Mexico', 4.8)
2020-09-18 19:25:59,198 DEBUG sqlalchemy.engine.base.Engine Row (40, 'New Jersey', 1.8)
2020-09-18 19:25:59,199 DEBUG sqlalchemy.engine.base.Engine Row (41, 'Wyoming', 7.1)
2020-09-18 19:25:59,200 DEBUG sqlalchemy.engine.base.Engine Row (42, 'North Carolina', 4.2)
2020-09-18 19:25:59,201 DEBUG sqlalchemy.engine.base.Engine Row (43, 'Ohio', 3.5)
2020-09-18 19:25:59,203 DEBUG sqlalchemy.engine.base.Engine Row (44, 'Delaware', 3.8)
2020-09-18 19:25:59,204 DEBUG sqlalchemy.engine.base.Engine Row (45, 'Kansas', 3.4)
2020-09-18 19:25:59,205 DEBUG sqlalchemy.engine.base.Engine Row (46, 'Florida', 3.7)
2020-09-18 19:25:59,206 DEBUG sqlalchemy.engine.base.Engine Row (47, 'New Hampshire', 2.4)
2020-09-18 19:25:59,207 DEBUG sqlalchemy.engine.base.Engine Row (48, 'Minnesota', 2.1)
2020-09-18 19:25:59,208 DEBUG sqlalchemy.engine.base.Engine Row (49, 'Arkansas', 5.1)
2020-09-18 19:25:59,209 DEBUG sqlalchemy.engine.base.Engine Row (50, 'Michigan', 2.7)
2020-09-18 19:25:59,210 DEBUG sqlalchemy.engine.base.Engine Row (51, 'Rhode Island', 2.3)
2020-09-18 19:25:59,211 DEBUG sqlalchemy.engine.base.Engine Row (52, 'Nevada', 2.8)
2.4000000000
4.0000000000
5.7000000000
5.6000000000
5.6000000000
2.5000000000
3.2000000000
5.2000000000
4.6000000000
4.8000000000
3.0000000000
4.9000000000
3.8000000000
6.1000000000
2.5000000000
5.5000000000
2.7000000000
2.0000000000
3.6000000000
3.4000000000
None
11.3000000000
3.6000000000
2.2000000000
3.8000000000
3.3000000000
3.6000000000
2.1000000000
3.3000000000
None
1.7000000000
2.5000000000
7.6000000000
3.6000000000
1.2000000000
4.0000000000
1.8000000000
9.4000000000
4.8000000000
1.8000000000
7.1000000000
4.2000000000
3.5000000000
3.8000000000
3.4000000000
3.7000000000
2.4000000000
2.1000000000
5.1000000000
2.7000000000
2.3000000000
2.8000000000
2020-09-18 19:25:59,216 INFO sqlalchemy.engine.base.Engine SELECT consumption.id AS consumption_id, consumption.state AS consumption_state, consumption.volume AS consumption_volume
FROM consumption
2020-09-18 19:25:59,217 INFO sqlalchemy.engine.base.Engine ()
2020-09-18 19:25:59,219 DEBUG sqlalchemy.engine.base.Engine Col ('consumption_id', 'consumption_state', 'consumption_volume')
2020-09-18 19:25:59,221 DEBUG sqlalchemy.engine.base.Engine Row (1, 'New Hampshire', 4.76)
2020-09-18 19:25:59,222 DEBUG sqlalchemy.engine.base.Engine Row (2, 'Delaware', 3.72)
2020-09-18 19:25:59,223 DEBUG sqlalchemy.engine.base.Engine Row (3, 'Nevada', 3.46)
2020-09-18 19:25:59,224 DEBUG sqlalchemy.engine.base.Engine Row (4, 'North Dakota', 3.26)
2020-09-18 19:25:59,225 DEBUG sqlalchemy.engine.base.Engine Row (5, 'Montana', 3.11)
2020-09-18 19:25:59,225 DEBUG sqlalchemy.engine.base.Engine Row (6, 'Vermont', 3.08)
2020-09-18 19:25:59,226 DEBUG sqlalchemy.engine.base.Engine Row (7, 'Wisconsin', 2.98)
2020-09-18 19:25:59,227 DEBUG sqlalchemy.engine.base.Engine Row (8, 'Alaska', 2.94)
2020-09-18 19:25:59,228 DEBUG sqlalchemy.engine.base.Engine Row (9, 'Idaho', 2.92)
2020-09-18 19:25:59,229 DEBUG sqlalchemy.engine.base.Engine Row (10, 'South Dakota', 2.87)
2020-09-18 19:25:59,230 DEBUG sqlalchemy.engine.base.Engine Row (11, 'Maine', 2.81)
2020-09-18 19:25:59,230 DEBUG sqlalchemy.engine.base.Engine Row (12, 'Colorado', 2.81)
2020-09-18 19:25:59,232 DEBUG sqlalchemy.engine.base.Engine Row (13, 'Minnesota', 2.77)
2020-09-18 19:25:59,233 DEBUG sqlalchemy.engine.base.Engine Row (14, 'Oregon', 2.75)
2020-09-18 19:25:59,234 DEBUG sqlalchemy.engine.base.Engine Row (15, 'Wyoming', 2.67)
2020-09-18 19:25:59,235 DEBUG sqlalchemy.engine.base.Engine Row (16, 'Florida', 2.65)
2020-09-18 19:25:59,236 DEBUG sqlalchemy.engine.base.Engine Row (17, 'Hawaii', 2.63)
2020-09-18 19:25:59,237 DEBUG sqlalchemy.engine.base.Engine Row (18, 'Louisiana', 2.59)
2020-09-18 19:25:59,238 DEBUG sqlalchemy.engine.base.Engine Row (19, 'Rhode Island', 2.57)
2020-09-18 19:25:59,239 DEBUG sqlalchemy.engine.base.Engine Row (20, 'Massachusetts', 2.57)
2020-09-18 19:25:59,240 DEBUG sqlalchemy.engine.base.Engine Row (21, 'Missouri', 2.49)
2020-09-18 19:25:59,241 DEBUG sqlalchemy.engine.base.Engine Row (22, 'Connecticut', 2.45)
2020-09-18 19:25:59,242 DEBUG sqlalchemy.engine.base.Engine Row (23, 'Iowa', 2.4)
2020-09-18 19:25:59,242 DEBUG sqlalchemy.engine.base.Engine Row (24, 'Pennsylvania', 2.36)
2020-09-18 19:25:59,243 DEBUG sqlalchemy.engine.base.Engine Row (25, 'Texas', 2.34)
2020-09-18 19:25:59,244 DEBUG sqlalchemy.engine.base.Engine Row (26, 'New Jersey', 2.34)

2020-09-18 19:25:59,245 DEBUG sqlalchemy.engine.base.Engine Row (27, 'Michigan', 2.34)
2020-09-18 19:25:59,246 DEBUG sqlalchemy.engine.base.Engine Row (28, 'California', 2.33)
2020-09-18 19:25:59,247 DEBUG sqlalchemy.engine.base.Engine Row (29, 'Illinois', 2.32)
2020-09-18 19:25:59,248 DEBUG sqlalchemy.engine.base.Engine Row (30, 'Arizona', 2.31)
2020-09-18 19:25:59,249 DEBUG sqlalchemy.engine.base.Engine Row (31, 'New Mexico', 2.27)
2020-09-18 19:25:59,249 DEBUG sqlalchemy.engine.base.Engine Row (32, 'Washington', 2.26)
2020-09-18 19:25:59,250 DEBUG sqlalchemy.engine.base.Engine Row (33, 'Nebraska', 2.23)
2020-09-18 19:25:59,251 DEBUG sqlalchemy.engine.base.Engine Row (34, 'Mississippi', 2.23)
2020-09-18 19:25:59,251 DEBUG sqlalchemy.engine.base.Engine Row (35, 'South Carolina', 2.22)
2020-09-18 19:25:59,252 DEBUG sqlalchemy.engine.base.Engine Row (36, 'New York', 2.22)
2020-09-18 19:25:59,252 DEBUG sqlalchemy.engine.base.Engine Row (37, 'Indiana', 2.17)
2020-09-18 19:25:59,253 DEBUG sqlalchemy.engine.base.Engine Row (38, 'Maryland', 2.15)
2020-09-18 19:25:59,253 DEBUG sqlalchemy.engine.base.Engine Row (39, 'Virginia', 2.14)
2020-09-18 19:25:59,254 DEBUG sqlalchemy.engine.base.Engine Row (40, 'Tennessee', 2.14)
2020-09-18 19:25:59,255 DEBUG sqlalchemy.engine.base.Engine Row (41, 'North Carolina', 2.13)
2020-09-18 19:25:59,255 DEBUG sqlalchemy.engine.base.Engine Row (42, 'Ohio', 2.04)
2020-09-18 19:25:59,255 DEBUG sqlalchemy.engine.base.Engine Row (43, 'Alabama', 2.01)
2020-09-18 19:25:59,256 DEBUG sqlalchemy.engine.base.Engine Row (44, 'Kentucky', 1.98)
2020-09-18 19:25:59,256 DEBUG sqlalchemy.engine.base.Engine Row (45, 'Georgia', 1.94)
2020-09-18 19:25:59,257 DEBUG sqlalchemy.engine.base.Engine Row (46, 'Kansas', 1.92)
2020-09-18 19:25:59,258 DEBUG sqlalchemy.engine.base.Engine Row (47, 'Oklahoma', 1.88)
2020-09-18 19:25:59,258 DEBUG sqlalchemy.engine.base.Engine Row (48, 'Arkansas', 1.8)
2020-09-18 19:25:59,259 DEBUG sqlalchemy.engine.base.Engine Row (49, 'West Virginia', 1.76)
2020-09-18 19:25:59,260 DEBUG sqlalchemy.engine.base.Engine Row (50, 'Utah', 1.34)
4.7600000000
3.7200000000
3.4600000000
3.2600000000
3.1100000000
3.0800000000
2.9800000000
2.9400000000
2.9200000000
2.8700000000
2.8100000000
2.8100000000
2.7700000000
2.7500000000
2.6700000000
2.6500000000
2.6300000000
2.5900000000
2.5700000000
2.5700000000
2.4900000000
2.4500000000
2.4000000000
2.3600000000
2.3400000000
2.3400000000
2.3400000000
2.3300000000
2.3200000000
2.3100000000
2.2700000000
2.2600000000
2.2300000000
2.2300000000
2.2200000000
2.2200000000
2.1700000000
2.1500000000
2.1400000000
2.1400000000
2.1300000000
2.0400000000
2.0100000000
1.9800000000
1.9400000000
1.9200000000
1.8800000000
1.8000000000
1.7600000000
1.3400000000

/Users/cipolle/opt/anaconda3/lib/python3.7/site-packages/sqlalchemy/sql/sqltypes.py:666: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  "storage." % (dialect.name, dialect.driver)